body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-family: "Georgia", serif;
  margin: 0;
}

body * {
  /* remove this later!! */
  border: 2px dotted red;
}

.header, .footer{
  display: flex;
  flex-flow: column nowrap;
  background: #1f2937;
  color: #e5e7eb;
  padding: 0 20vh;
}

.header .top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.header .links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}

.hero .text {
  display: flex;
  flex-flow: column wrap;
}

.hero .heading {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
  padding: 0;
}

.hero .image {
  min-height: 300px;
  width: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background: #a9a9a9;
}

.footer {
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.content {
  min-height: 10vh;
}

.cards {
}

.card {
}

.quote {
}

.signup {
}

a {
  text-decoration: none;
  color: #e5e7eb;
}
