@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,700,500,100');

body {
  display: flex;
  flex-flow: column nowrap;
  font-family: "Roboto", "Helvetica", sans-serif;
  margin: 0;
}

.header, .footer{
  display: flex;
  flex-flow: column nowrap;
  background: #1f2937;
  color: #e5e7eb;
  padding: 0 12vw;
}

.header .top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.header .links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header .top a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  gap: 4px;
}

.hero .text {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 8px;
}

.hero .text .heading {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
  padding: 0;
}

.hero .text .body {
  margin: 0;
  color: #e5e7eb;
  padding-bottom: 12px;
  font-size: 18px;
}

.hero .image {
  width: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.hero .image img {
  height: auto;
  width: 100%;
}

.button {
  color: #f9faf8;
  background: #3882f6;
  border-radius: 8px;
  border: none;
  padding: 8px 36px;
  font-size: 16px;
  font-weight: 500;
}

.footer {
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  padding: 48px 12vw;
  /* same padding as header and footer */
  gap: 48px;
}

.info .heading {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
}

.infocards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vh; /* if I change this to vw it breaks */
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card .caption {
  color: #3d4b5c;
  font-size: 18px;
  text-align: center;
  padding-top: 8px;
}

.quote {
  display: flex;
  flex-direction: column;
  background: #e5e7eb;
  padding: 64px 0;
  margin: 48px 0;
  gap: 16px;
}

.quote .body {
  padding: 0 20vw;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
}

.quote .attribution {
  text-align: right;
  font-weight: 700;
  padding: 0 25vw;
}

.signup {
  display: flex;
  justify-content: space-between;
  margin: 48px 12vw;
  padding: 36px 96px;
  background: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
}

.signup .heading {
  font-weight: 700;
  font-size: 24px;
}

.signup .button {
  border: 2px solid #f9faf8;
  padding: 0 48px;
}
